<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <div>
            <label>Name</label>
            <input type="text" name = "name">
        </div>
        
        <div>
            <label>Price</label>
            <input type="number" price = "price">
        </div>

        <div>
            <label>Description</label>
            <input type="text" description = "description">
        </div>
        
        <div>
             <label>ImageName</label>
             <input type="text" imageName = "imageName">
        </div>
        <input type="submit">
        

    </form>
</body>
</html>